select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #9571d8;
    cursor: pointer;
    padding: 1rem;
    width: 10rem;
 }
 .select{
     margin: 1rem;
     position: relative;
     overflow: hidden;
 }
 .select::after{
     content: '\25BC';
     position: absolute;
     background:  #9571d8;
     top: 0;
     right: 0;
     padding: 1rem;
     pointer-events: none;
     transition: all 0.3s ease;
 }
 
 .select:hover::after{
     background: white;
     color: #9571d8;
 }